<%- include('partials/header', { pageTitle: 'Home' , customCss: []}) %>

<body>
    <% 
    let navBtns = [];
    if (faucetEnabled){
        navBtns.push({
            url: '/faucet',
            class: 'nes-btn',
            text: 'Faucet'
        });
    }
    navBtns.push({
        url: '/flag',
        class: 'nes-btn is-warning',
        text: 'Get Flag'
    });
    %>
    <%- include('partials/nav-bar', {
        navTitle: 'Bl0ckch@in W3b Serv1c3',
        navBtns: navBtns
    }) %>
    
    <div class="main-container">

        <div class="nes-container with-title container challenge-container">
            <h3 class="title">Challenge Description</h3>
            <div id="description"><span class="nes-text is-primary"><%= description %></span></div>
        </div>


        <div class="nes-container with-title container rpc-container">
            <h3 class="title">Blockchain RPC Provider</h3>
            <div class="nes-field is-inline">
                <input type="text" id="rpc" class="nes-input" value="" readonly>
                <button class="nes-btn is-primary inline-copy-btn-right" onclick="copyToClipboard('rpc')">Copy</button>
            </div>
        </div>


        <div class="nes-container with-title container contracts-container">
            <h3 class="title">Information of Contracts</h3>

            <% for (let i = 0; i < contracts.length; i++) { %>
                <% let contract = contracts[i] %>
                    <div class="nes-container is-rounded is-centered with-title container contract-container">
                        <b class="title"><i class="nes-icon trophy is-small"></i> Contract <%= i %> <i class="nes-icon trophy is-small"></i></b>
                        <div class="nes-field" style="text-align: left;">
                            <label for="contract-filename-<%= i %>">Name</label>
                            <input type="text" id="contract-filename-<%= i %>" class="nes-input" value="<%= contract.name %>" readonly>
                        </div>

                        <br>

                        <div class="nes-field" style="text-align: left;">
                            <label for="contract-filename-<%= i %>">Filename</label>
                            <div class="nes-field is-inline" id="contract-filename-<%= i %>">
                                <input type="text" id="contract-filename-input-<%= i %>" class="nes-input" value="<%= contract.filename %>" readonly>
                                <% if(contract.showFile) { %>
                                <button class="nes-btn is-primary inline-copy-btn-right" onclick="window.open('/download?hash=<%= contract.hash %>', '_blank')">Down</button>
                                <% } %>
                            </div>
                        </div>

                        <br>

                        <div class="nes-field" style="text-align: left;">
                            <label for="contract-address-<%= i %>">Address</label>
                            <div class="nes-field is-inline" id="contract-address-<%= i %>">
                                <input type="text" class="nes-input" id="contract-address-input-<%= i %>" value="<%= contract.address %>" readonly>
                                <button class="nes-btn is-primary inline-copy-btn-right" onclick="copyToClipboard('contract-address-input-<%= i %>')">Copy</button>
                            </div>
                        </div>
                    </div>
                    <% if(i !== contracts.length - 1){ %>
                    <br>
                    <%}%>
            <% } %>
        </div>
    </div>
</body>


<script>
    let rpc = document.getElementById("rpc");
    rpc.value = `${window.location.href}rpc`

    function copyToClipboard(elementId) {
        let element = document.getElementById(elementId);
        element.select();
        document.execCommand("copy");
    }
</script>

<%- include('partials/footer') %>